@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:15px;
	margin-top:55px;
	
}

h1 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:12px;
	font-weight:bold;
	text-decoration:none;
	color:#000;
	margin-right:20px;	
}

h3{
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 10px;
}

h2{
	position:absolute;
	top:430px;
	right:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:16px;
	color:#000;
	font-weight:bold;
}

p{
	margin-top: 10px;
}
h2 .desc{
	margin-top:10px;
	font-size:12px;
	font-weight:normal;
	display:block;
}
	

ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:14px;
	color:#000;
	text-decoration:none;
	display:block;
	padding: 2px 0;
	width:180px;
	text-align:right;
}

ul li a:hover{
	color:#fff;
	background:#000;
}

ul {
	list-style-type: none;
	margin-top:10px;
}

#page{
	margin-top:10px;
	position:relative;
	min-width:940px;
}

#menu{
	position:relative;
	float:left;
	width:200px;
	height:400px;
	padding-left:20px;
	text-align:right;
}

#content{
	position:relative;
	float:left;
	width:560px;
	height:560px;
}

#content.home_content{
	width:720px;
	
}

td, tr{
	vertical-align:top;
	/*height:800px;*/
	border-right:solid white 10px;
}

.vignette{
	display:block;
	height:120px;
	width:120px;
	margin-right:20px;
	margin-bottom:20px;
	float:left;
}

.back{
	text-decoration:none;
	font-size:18px;
	float:right;	
}

table#contact tr td p{
	display:block;
	width:500px;
}